.low-uv {
    background-color: green;
};

.moderate-uv {
    background-color: yellow;
};

.high-uv {
    background-color: orange;
};

.very-high-uv {
    background-color: red;
};

.extreme-uv {
    background-color: violet;
};